.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carousel-container {
  width: 80%;
  overflow: hidden;
  position: relative;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
}
.card {
  background-color: #fff;
  min-width: 25%;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 8px;
}
.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.nav-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
}
.nav-button:disabled {
  background-color: #888;
  cursor: not-allowed;
}
.image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.images-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
